<!DOCTYPE HTML>
<html>
    <head>
        <title>Life Expectancy Calculator</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="description" content="Calculates your life left based on average life expectancy values" />
        <meta name="keywords" content="life expectancy,life,life left,expectancy,mortality" >
    </head>
    <body>
        <h1>Something has gone horribly wrong.</h1>
        <p>We're trying to fix it now</p>
    </body>
</html>
